<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
</head>
<body>
    <h1>Ваш кошик</h1>
    {% for product in products %}
        <div>
            <hr>
            <p> {{ product.name }}</p>
            <p> {{ product.cost }}</p>
            <form method="POST" class="delet_from_cart">
                {% csrf_token %}
                <input type="hidden" name="product_pk" value="{{ product.pk}}">
                <button> Видалити до кошика</button>
            </form>
        </div>
    {% endfor %}
</body>
</html>